


.col-lg-8 {
    column-count: 3; /* Divide el contenido en tres columnas */
    text-align: justify; /* Justifica el texto dentro de las columnas */
    column-gap: 20px; /* Espacio entre columnas, puedes ajustarlo según tus preferencias */
    margin-bottom: 5px;
    background-color: rgba(187, 111, 170, 0.264);
}

